{% extends 'base.html' %}

{% block css %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-5">
        {% for item in docs %}
            <div class="col-md-6">
                <div class="card border-success">
                    <img class="card-img-top" src="{{item.path}}" alt="Title">
                    <div class="card-body">
                      <a href="/predict/{{item.id}}/doc" class="btn btn-sm btn-dark">Authenticate Image using AI</a>
                      <a href="/delete/{{item.id}}" class="btn btn-sm btn-dark">
                          <i class="fas fa-trash-alt"></i> Delete 
                      </a>
                    </div>
                  </div>
            </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
{% block js %}{% endblock %}
